<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Library Management Test Suite">
    <test name="Library Tests">
        <classes>
            <class name="org.test_package.LibraryTest">
                <methods>
                    <include name="testAddBook"/>
                    <include name="testBorrowBookAvailable"/>
                    <include name="testBorrowBookNotAvailable"/>
                    <include name="testBorrowBookNotFound"/>
                    <include name="testReturnBook"/>
                    <include name="testReturnBookNotBorrowed"/>
                    <include name="testViewAvailableBooks"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
